* {
	box-sizing: border-box;
}

#viewport {
	position: absolute;
	--perspective: 500px;
	perspective: var(--perspective);
	inset: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#camera {
	width: 0px;
	height: 0px;
	position: relative;
	left: 50%;
	top: 50%;
	transform-style: preserve-3d;
}


#scene {
	width: 4000px;
	height: 4000px;
	// transform-origin: calc(var(--x) * -1) calc(var(--z) * -1);
	--size: 250px;
	--x: 0px;
	--y: 0px;
	--z: 0px;
	--angle: 0deg; // --angle: 0deg;
	// animation: center 2s linear infinite;
	// transform: translate3d(var(--x), 0px, var(--z)) rotateY(var(--angle));
	transform-origin: var(--x) calc(var(--y) * -1 + var(--size) / 2) calc(var(--z) - var(--size) / 2);
	transform: translate3d(calc(var(--x) * -1),
			calc(var(--y) - var(--size) / 2),
			calc(var(--z) * -1 + var(--size) / 2 + var(--perspective))) rotateY(var(--angle)) rotateX(360deg);
	transform-style: preserve-3d;


	.block {
		position: absolute;
		width: var(--size);
		height: var(--size);
		transform-style: preserve-3d;
		outline: 1px solid black;
		transform: rotateX(90deg);

		&.wall {
			// background: red;

			>div {
				// opacity: .6;
				position: absolute;
				width: 100%;
				height: 100%;
				--rotateX: 0deg;
				--rotateY: 0deg;
				transform: translateZ(calc(var(--size) / 2)) rotateY(var(--rotateY)) rotateX(var(--rotateX));
				background: red;
				outline: 1px solid black;

				&.left {
					--rotateY: 90deg;
					translate: calc(var(--size) / -2);
				}

				&.right {
					--rotateY: -90deg;
					translate: calc(var(--size) / 2);
				}

				&.front {
					--rotateX: -90deg;
					translate: 0px calc(var(--size) / 2);
				}

				&.back {
					--rotateX: 90deg;
					translate: 0px calc(var(--size) / -2);
				}

				&.top {
					translate: 0px 0px calc(var(--size) / 2);
				}
			}
		}

		&.rock>div {
			background-image: url("../images/rock-sus.gif");
			background-size: 100%;
		}

		&.floor {
			background: green;
		}
	}
}