* {
	box-sizing: border-box;
}

.crossHair {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 24px;
	font-weight: 900;
	transform: translate(-50%, -50%);
	z-index: 100;
	user-select: none;
	pointer-events: none;
}

#viewport {
	position: absolute;
	perspective: 400px;
	inset: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;

	#camera {
		position: relative;
		transform-style: preserve-3d;
		width: 0px;
		height: 0px;
		left: 50%;
		top: 50%;
	}
}



#scene {
	transform-style: preserve-3d;

	.tile {
		position: absolute;
		// border: 1px solid black;
		padding: 10px;
		backface-visibility: hidden;
		transform-origin: 0 0;
		background-size: cover;
		image-rendering: pixelated
	}

	// Textures

	.floor {
		background-image: url("../images/cobblestone.png");
	}

	.wall {
		background-image: url("../images/ancient_debris_side.png");
	}

	.wall.top {
		background-image: url("../images/ancient_debris_top.png");
	}

	.rock {
		background-image: url("../images/rock-sus.gif");
	}
}