.container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 5px 50px;
	position: relative;
	max-width: max-content;
}

.row {
	position: relative;
	height: 50px;
	background-color: red;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	& > p {
		width: max-content;
	}
}
