body {
	position: absolute;
	font-family: system-ui;
	display: grid;
	inset: 0px;
	place-items: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.25fr 75px 1fr;
	width: 275px;
	aspect-ratio: 5 / 7;
	--_br: 15px;
	--_gap: 10px;
	gap: var(--_gap);
	background-color: white;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		grid-area: 1 / 1 / 3 / 3;
		border-radius: var(--_br);
		object-fit: cover;
	}

	.buttonContainer {
		position: relative;
		grid-area: 2 / 1 / 3 / 2;
		background-color: #222;
		border-radius: var(--_br) var(--_br) 0px 0px;
		display: grid;
		place-items: center;
		box-shadow: 0px var(--_gap) #222;

		button {
			position: absolute;
			inset: var(--_gap);
			border: none;
			border-radius: var(--_br);
			font-size: 1.25em;
			font-weight: 700;
			cursor: pointer;
			transition: all .2s;

			&:hover {
				inset: calc(var(--_gap) / 2);
				filter: brightness(1.1);
				font-size: 1.45em;
			}
		}

		&::after {
			content: "";
			inset: 0px;
			position: absolute;
			box-shadow:
				0 0 0 var(--_gap) white,
				calc(var(--_br) * -1) 0 0 var(--_gap) white;
			border-radius: var(--_br);
			clip-path: inset(-100% -100% 50% 0px);
			pointer-events: none;
		}
	}

	.info {
		grid-area: 3 / 1 / 4 / 3;
		background: #222;
		border-radius: 0px var(--_br) var(--_br) var(--_br);
		padding: var(--_gap);

		p {
			margin: 0px;
			color: white;
			font-size: 20px;
		}
	}

	.borderTopLeft {
		grid-area: 1/1/2/2;
		border-radius: 0px 0px 0px var(--_br);
		box-shadow:
			0 0px 0 var(--_gap) white,
			calc(var(--_gap) * -1) 0px 0 var(--_gap) white;
		clip-path: inset(50% 50% -100% 0);
		pointer-events: none;
	}

	.borderTopRight {
		position: relative;
		grid-area: 2 / 2 / 3 / 3;
		pointer-events: none;

		&::after {
			content: "";
			position: absolute;
			inset: 0px;
			border-radius: var(--_br);
			box-shadow: 0 0 0 var(--_gap) white;
			clip-path: inset(40% 40% -100% -100%);
		}

		&::before {
			content: "";
			position: absolute;
			inset: 50% 50% 0px 0px;
			box-shadow: calc(var(--_gap) * -1) var(--_gap) #222;
		}
	}
}