#container {
	position: relative;
	width: 0px;
	height: 0px;
	transform-origin: left top;
}


#container div {
	position: absolute;
	box-sizing: border-box;
}

.animate div {
	transition: left .5s, top .5s;
}

.bottom {
	width: 81px;
	height: 81px;
	left: 60px;
	top: 91px;
	background: #f9c537;
	transform: scaleX(1.75) rotate(45deg);
}

.left {
	width: 100px;
	height: 100px;
	background: #ff7f51;
	transform: skewY(330deg);
}

.right {
	width: 100px;
	height: 100px;
	background: #26cdd1;
	transform: skewY(30deg);
	left: 100px;
}

fieldset {
	position: relative;
	top: 800px;
	width: max-content;
	display: flex;
}

input[type="text"] {
	margin-right: 10px;
	margin-left: 5px;
	width: 70px;
}

button {
	margin-left: 10px;
}