#container {
	position: relative;
	width: 800px;
	height: 800px;
}


#container div {
	position: absolute;
	box-sizing: border-box;
}

.green {
	width: 81px;
	height: 81px;
	left: 60px;
	top: 91px;
	border: 2px solid black;
	background: green;
	transform: scaleX(1.75) rotate(45deg);
}

.blue {
	width: 100px;
	height: 100px;
	border: 3px solid black;
	background: blue;
	transform: skewY(330deg);
}

.orange {
	width: 100px;
	height: 100px;
	border: 3px solid black;
	background: orange;
	transform: skewY(30deg);
	left: 100px;
}