body {
	position: absolute;
	background: #0c0c0c;
	font-size: 1.5rem;
	color: #cccccc;
	inset: 0px;
	display: grid;

	input {
		background: none;
		border: none;
		outline: none;
		caret: none;
		caret-color: transparent;
		color: transparent;
		position: sticky;
		left: 0px;
		width: 100%;
		padding: 0px;
	}

	#textContent {
		position: relative;
		word-wrap: break-word;
		white-space: pre-wrap;
		margin-top: auto;

		.commandText {
			background-color: green;
			color: white;
		}

		.error {
			background-color: red;
			color: white
		}
	}

	pre,
	input {
		margin: 0px;
		font-family: monospace;
		font-size: 1.5rem;
	}
}

#terminalContainer {
	position: relative;
	margin-top: auto;
}

#commandHighlight {
	position: absolute;
	pointer-events: none;
	user-select: none;

	.autocorrect {
		opacity: .3;
	}
}

#commandInterfaceContainer {
	position: relative;
	overflow: hidden;
	flex-shrink: 0;

	pre {
		pointer-events: none;
		user-select: none;
	}

	.caret {
		position: absolute;
		color: transparent;
		--left: 0px;

		&.idle::after {
			animation: caret 1s infinite;
		}

		&::after {
			content: "";
			position: absolute;
			left: var(--left);
			top: 3px;
			height: 23px;
			width: 3px;
			background: white;
			pointer-events: none;
			pointer-events: none;
			user-select: none;
			transition: left .09s;
		}
	}
}

#tooltip {
	position: absolute;
	border: 2px solid white;
	bottom: 40px;
	background-color: #0c0c0c;

	&:empty {
		display: none;
	}

	span {
		position: relative;
		cursor: pointer;
		width: 100%;
		display: block;
		white-space: break-spaces;

		&.selected {
			color: gold;
		}

		&:hover {
			background-color: #2e2e2e;
		}
	}
}

@keyframes caret {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}