::-webkit-scrollbar {
	border-radius: 15px;
	width: 12px;
	height: 12px;

	&-corner {
		background: transparent
	}
}

::-webkit-scrollbar-track:vertical {
	background: transparent;

	&:hover {
		border-inline: 2px solid #171717;
		border-radius: 15px;
		background:
			linear-gradient(60deg, #171717 5px, transparent 5px, transparent calc(100% - 5px), #171717 calc(100% - 5px)),
			linear-gradient(300deg, #171717 5px, transparent 5px, transparent calc(100% - 5px), #171717 calc(100% - 5px)),
			linear-gradient(0deg, #959595 9px, transparent 9px, transparent calc(100% - 9px), #959595 calc(100% - 9px)),
			#171717; // Draws arrows
	}
}

::-webkit-scrollbar-thumb:vertical {
	border-right: 3px solid transparent; // right margin
	border-top: 13px solid transparent; // top margin
	border-bottom: 13px solid transparent; // top margin
	box-shadow: inset -2px 0px 0px 0px #959595;
	border-radius: 15px;

	&:hover {
		background:
			radial-gradient(circle closest-side at 3px calc(100% - 18px), #959595 95%, transparent),
			radial-gradient(circle closest-side at 3px 18px, #959595 95%, transparent),
			linear-gradient(0deg, transparent 18px, #959595 18px, #959595 calc(100% - 18px), transparent calc(100% - 18px));
		border: none;
		border-inline: 3px solid #171717;
		box-shadow: none;
	}
}


::-webkit-scrollbar-track:horizontal {
	background: transparent;

	&:hover {
		border-block: 2px solid #171717;
		border-radius: 15px;
		background:
			linear-gradient(150deg, #171717 5px, transparent 5px, transparent calc(100% - 5px), #171717 calc(100% - 5px)),
			linear-gradient(390deg, #171717 5px, transparent 5px, transparent calc(100% - 5px), #171717 calc(100% - 5px)),
			linear-gradient(90deg, #959595 9px, transparent 9px, transparent calc(100% - 9px), #959595 calc(100% - 9px)),
			#171717; // Draws arrows
	}
}

::-webkit-scrollbar-thumb:horizontal {
	border-top: 3px solid transparent; // right margin
	border-right: 13px solid transparent; // top margin
	border-left: 13px solid transparent; // top margin
	box-shadow: inset 0px 2px 0px 0px #959595;
	border-radius: 15px;

	&:hover {
		background:
			radial-gradient(circle closest-side at calc(100% - 18px) 3px, #959595 95%, transparent),
			radial-gradient(circle closest-side at 18px 3px, #959595 95%, transparent),
			linear-gradient(90deg, transparent 18px, #959595 18px, #959595 calc(100% - 18px), transparent calc(100% - 18px));
		border: none;
		border-block: 3px solid #171717;
		box-shadow: none;
	}
}

body {
	position: absolute;
	background: #0c0c0c;
	font-size: 1.5rem;
	color: #cccccc;
	inset: 0px;
	margin: 0px;

	img.bg {
		position: fixed;
		inset: 0px;
		opacity: .25;
		object-fit: cover;
		pointer-events: none;
		user-select: none;
	}

	#terminalContainer {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		gap: 5px;
		padding-bottom: 10px;
		box-sizing: border-box;
		flex-direction: column;
		overflow: hidden;

		#textContent {
			position: relative;
			height: 100%;
			overflow: auto;
			word-wrap: break-word;
			white-space: pre-wrap;
			padding: 10px;
			color: white;

			.command {
				background: #00000082;
				padding: 5px 10px;
				margin-bottom: 5px;
			}

			.error {
				background-color: rgb(50 0 0 / 56%);
				color: red;
				text-shadow: 0 0 3px black;
				font-weight: 600;
			}
		}
	}

	pre,
	input {
		margin: 0px;
		font-family: monospace;
		font-size: 1.5rem;
	}
}

.highlightContainer {
	position: absolute;
	pointer-events: none;
	user-select: none;
	z-index: 1;
	overflow: hidden;
	width: calc(100% - 5px);
	height: 100%;

	#commandHighlight {
		position: absolute;
		pointer-events: none;
		user-select: none;
		z-index: 1;

		.autocorrect {
			opacity: .3;
		}
	}
}

#commandInterfaceContainer {
	position: relative;
	width: calc(100% - 20px);
	margin-inline: auto;
	bottom: 0px;
	flex-shrink: 0;
	padding: 3px 8px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);

	.container {
		position: relative;
		overflow: hidden;

		pre {
			pointer-events: none;
			user-select: none;
		}

		input {
			position: relative;
			background: none;
			border: none;
			outline: none;
			caret: none;
			caret-color: transparent;
			color: transparent;
			left: 0px;
			width: calc(100% - 5px);
			padding: 0px;
			box-sizing: border-box;

			&::selection {
				background-color: rgba(195, 0, 255, 0.25);
				color: rgba(255, 255, 255, 0.5);
				text-decoration: underline;
				text-shadow:
					black 0px 0px 3px,
					black 0px 0px 3px,
					black 0px 0px 3px,
					black 0px 0px 3px;
			}
		}
	}
}

.caret {
	position: absolute;
	color: transparent;
	z-index: 1;
	--left: 0px;

	&.idle::after {
		animation: caret 1s infinite;
	}

	&::after {
		content: "";
		position: absolute;
		left: var(--left);
		top: 3px;
		height: 23px;
		width: 3px;
		background: rgba(255, 255, 255, 0.8);
		pointer-events: none;
		user-select: none;
		transition: left .09s;
	}
}

#tooltip {
	position: fixed;
	bottom: 45px;
	padding-inline: 5px;
	margin-left: -5px;
	background-color: #000000;

	&:empty {
		display: none;
	}

	span {
		cursor: pointer;
		width: 100%;
		display: block;
		white-space: break-spaces;

		&.selected {
			color: gold;
		}

		&:hover {
			background-color: #2e2e2e;
		}
	}
}

#commandHelp {
	position: fixed;
	bottom: 45px;
	background-color: black;

	&.hidden,
	&:empty {
		display: none;
	}

	span {
		padding-inline: 5px;
	}
}

@keyframes caret {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}