body {
	margin: 0px;
}

#box {
	position: relative;
	width: 100%;
	height: calc(100vh - 150px);
	background-color: #eee;
	overflow: hidden;

	.container {
		position: absolute;
		pointer-events: none;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		transform-origin: top left;
	}
}